// Base

.m-button {
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-family: Poppins, Arial, sans-serif;
  justify-content: center;
  min-height: 10px;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: top;
}

// Variants

.m-button--primary {
  background-color: rgb(47, 128, 237);
  color: rgb(255, 255, 255);
}
  
.m-button--secondary {
	background-color: rgb(242, 153, 74);
  border-color: rgb(224, 129, 44);
  color: rgb(255, 255, 255);
}
  
.m-button--tertiary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(47, 128, 237);
}

.m-button--outline {
  background-color: transparent;
  border-color: rgb(47, 128, 237);
  color: rgb(47, 128, 237);
}

// Sizes

.m-button--small {
  padding: 4px 24px;
  font-size: small;
}

.m-button--large {
  padding: 12px 40px;
  font-size: large;
}

// Behavior

.m-button--block {
  display: flex;
  width: 100%;
}

// States

.m-button--is-disabled {
  background-color: rgb(221, 221, 221);
  border-color: transparent;
  color: rgb(152, 152, 152);
  pointer-events: none;

  & > * {
    color: rgb(221, 221, 221);
  }
}
