//Base

.m-card {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  margin-bottom: 15px;
  width: 100%;
}
  
.m-card-title {
  border-bottom: 1px solid rgb(224, 224, 224);;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.m-card-content {
  display: flex;
  padding: 16px 20px;
}
