.m-input-container {
  border: 1px solid rgb(148, 148, 148);
  border-radius: 4px;
  display: flex;
  margin-bottom: 15px;
}
  
.m-icon {
	border: none;
	color: rgb(148, 148, 148);
	min-width: 50px;
	padding: 14px 10px;
	text-align: center;
}
  
.m-input-field {
	border: none;
  	outline: none;
	padding: 10px;
	padding-left: 0;
	width: 100%;
}
