.m-table {
	border-collapse: collapse;
	display: inline-block;
	font-size: 14px;
	font-family: Poppins, Arial, sans-serif;
	table-layout: auto;
	width: 100%;

	& > tr {
		background-color:rgb(255, 255, 255);
		color: rgb(79, 79, 79);
		text-align: center;
	}

	& > tr:nth-child(odd) {
		background-color: rgb(242, 242, 242);
	}
}

.m-table-caption {
	color: rgb(79, 79, 79);
	font-size: 16px;
	padding-bottom: 30px;
	text-align: left;
}

.m-table td,
.m-table th {
	border: 1px solid rgb(189, 189, 189);
	min-width: 128px;
	padding: 10px;
}

.m-table th {
	font-size: 16px;
	font-weight: normal;
	padding-bottom: 2em;
	padding-top: 2em;
}

.m-table-text {
	text-align: left;
}

.m-table-status {
	display: flex;
	align-items: center;

	.status {
		padding-left: 6px;
	}
}
