.m-textarea {
  background-color: rgb(255, 255, 255);
  border: 1px solid ;
  border-radius: 4px;
  color: rgb(79, 79, 79);
  display: block;
  font-size: 14px;
	line-height: rem(24);
	min-height: 100px;
  padding: 11px 13px;
  resize: vertical;
	width: 100%;
  
   &::placeholder {
    color: rgb(130, 130, 130);
  }
}
