// Base

.fab {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(152, 152, 152);
	padding: 8px;
	width: 33px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;

	&:hover {
		background-color: rgb(255, 243, 224);
		border-color: rgb(239, 159, 46);
		color: rgb(239, 159, 46);
	}

	&:disabled {
		@extend .fab--is-disabled;
	}
}

// States

.fab--is-disabled {
	background-color: rgb(221, 221, 221);
	border-color: rgb(158, 158, 158);
	color: rgb(152, 152, 152);
	pointer-events: none;

	& > * {
		color: rgb(152, 152, 152);
	}
}
