// Base

.button {
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-family: arial;
  justify-content: center;
  min-height: 10px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: top;
}

// Variants

.button--primary {
  background-color: #2F80ED;
  color: #FFF;
}
  
.button--secondary {
	background-color: #F2994A;
  border-color: #E0812C;
  color: #FFF;
}
  
.button--tertiary {
  background-color: transparent;
  border-color: transparent;
  color: #2F80ED;
}

.button--outline {
  background-color: transparent;
  border-color:#2F80ED;
  color: #2F80ED;
}

// Sizes

.button--small {
  padding: 4px 24px;
  font-size: small;
}

.button--large {
  padding: 12px 38px;
  font-size: large;
}

// Behavior

.button--block {
  display: flex;
  width: 100%;
}

// States

.button--is-disabled {
  background-color: #DDDDDD;
  border-color: transparent;
  color: #989898;
  pointer-events: none;

  & > * {
    color: #DDDDDD;
  }
}
