.input-container {
  border: 1px solid #949494;
  border-radius: 4px;
  display: flex;
  margin-bottom: 15px;
}
  
.icon {
	border: none;
	color: #4F4F4F;
	min-width: 50px;
	padding: 14px 10px;
	text-align: center;
}
  
.input-field {
	border: none;
  outline: none;
	padding: 10px;
	padding-left: 0;
	width: 100%;
}
